body {
    margin: 0;
}
/* except firefox which is dumb */
@-moz-document url-prefix() { body { margin-top: -3vw; } }

div.flagcontainer {
    height: 53.55vw;
}
div.ground {
    background-color: #BB133E; /* Old Glory Red */
    width: 100%;
    height: 53.55vw; /* should be 52.63157895vw but something is rotten in Denmark */
/*TODO need to reverse    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent)); */
    background-image: -webkit-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, 1) 50%);
    background-image: -moz-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, 1) 50%);
    background-image: -ms-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, 1) 50%);
    background-image: -o-linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, 1) 50%);
    background-image: linear-gradient(transparent, transparent 50%, rgba(255, 255, 255, 1) 50%);
    background-size: 10px 8.32vw;
}
div.ground.gay {
    background-size: 100% 100%;
    height: 57.6vw; /* need to make taller to align ground with canton */
    background-image: linear-gradient(bottom, 
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -o-linear-gradient(bottom,
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -moz-linear-gradient(bottom,
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -webkit-linear-gradient(bottom, 
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -ms-linear-gradient(bottom, 
            rgba(77,20,140,1) 0%,
            rgba(77,20,140,1) 18%,
            rgba(27,119,205,1) 18%,
            rgba(27,119,205,1) 33%,
            rgba(54,160,48,1) 33%,
            rgba(54,160,48,1) 50%,
            rgba(255,210,0,1) 50%,
            rgba(255,210,0,1) 66%,
            rgba(255,160,0,1) 66%,
            rgba(255,160,0,1) 83%,
            rgba(207,15,15,1) 83%,
            rgba(207,15,15,1) 100%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.00,rgba(77,20,140,1)),
    color-stop(0.18,rgba(77,20,140,1)),
    color-stop(0.18,rgba(27,119,205,1)),
    color-stop(0.33,rgba(27,119,205,1)),
    color-stop(0.33,rgba(54,160,48,1)),
    color-stop(0.50,rgba(54,160,48,1)),
    color-stop(0.50,rgba(255,210,0,1)),
    color-stop(0.66,rgba(255,210,0,1)),
    color-stop(0.66,rgba(255,160,0,1)),
    color-stop(0.83,rgba(255,160,0,1)),
    color-stop(0.83,rgba(207,15,15,1)),
    color-stop(1.00,rgba(207,15,15,1))
);
}
div.canton {
    background-color: #002147; /* Old Glory Blue */
    width: 40%;
    height: 28.97730769vw;
}
ul.stars {
    font-size: 3.1vw;
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    width: 100%;
    height: 100%;
    padding-top: 0.5vw;
    padding-left: 0.3vw;
/* compensate for isotope positioning */
left: 0.5vw;
top: 0.25vw;
}
ul.stars li {
    display: inline;
    float: left;
    padding: 0 1.6vw;
    line-height: 1em;
    width: 3vw;
    height: 3vw;
}
ul.stars li.state {
    white-space: pre-wrap; /* for ::before rule below to allow for line breaks */
}
ul.stars li.fixed-spacer {
    padding: 0;
    width: 3.5vw;
    height: .7em;
    position: absolute;
    left: 0;
}
.fixed-spacer.first { top: 4vw; }
.fixed-spacer.second { top: 10vw; }
.fixed-spacer.third { top: 16vw; }
.fixed-spacer.fourth { top: 22vw; }
ul.stars li a {
display: block; /* fix transform discontinuity */
color: white;
text-decoration: none;
-webkit-transition: transform .25s ease-in-out;
    -ms-transition: transform .25s ease-in-out;
        transition: transform .25s ease-in-out;
}
ul.stars li a:focus, ul.stars li a:hover, ul.stars li a:active,
ul.stars li.clicked a {
-webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
        transform: scale(1.5);
text-shadow: 0 0.5rem 0.25rem #000, 0 0 2.5rem white;
}
ul.stars span {
clear: left;;
float: left;
}
/* to "disable" a state:
/* ul.stars li.maine a {
/*    color: #002147; /* Old Glory Blue */
/* } */
ul.stars li.state::after {
content: attr(data-abbreviation);
position: absolute;
font-size: 0.26em;
margin-top: -3vw;
width: 3vw;
height: 3vw;
line-height: 3.5vw;
text-align: center;
opacity: 0;
-webkit-transition: opacity .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out;
}
/* except firefox which is dumb */
@-moz-document url-prefix() { ul.stars li.state::after { line-height: 2.5vw; } }

ul.stars li.state:hover::after,
ul.stars li.clicked::after {
opacity: 1;
pointer-events:none; /* state abbreviations don't intercept clicks */
}
ul.stars li.state::before {
/*    content: attr(data-name) " (" attr(data-abbreviation) "): Entered the Union on " attr(data-entry) "; equality enacted " attr(data-enacted) ", effective " attr(data-effective) ;  */ 
content: attr(data-name) "\00a0(" attr(data-abbreviation) "): Entered\00a0the\00a0Union\00a0on\00a0" attr(data-entry) "; equality\00a0 enacted\00a0" attr(data-enacted) ", effective\00a0" attr(data-effective) "." ;   
display: inline;

font-size: 18px; 
position:absolute;
/*    white-space:nowrap; */
top: 5vw;
    background:#000;
    color:#e0e0e0;
    padding:0.25em 0.5em 0.3em 0.5em;
    box-shadow: 0px 0px 1px white;
    line-height: 24px;
/*    height: 24px; */
    width: 14.75em; /* crappy hardcoded value because of short states like Utah and Iowa */
     
    opacity: 0;  
    z-index: 10000000;
    -webkit-transition: opacity 0.4s ease-out; 
        -ms-transition: opacity 0.4s ease-out; 
            transition: opacity 0.4s ease-out; 
    pointer-events:none; /* tooltips don't intercept clicks */
}
ul.stars li.state:hover::before,
ul.stars li.clicked::before {
    opacity: 1;
}

/* Controls */

div.sortcontainer {
    float: left;
    margin-bottom: 2em;
}
div.timecontainer {
    float: right;
}

/* style radio buttons to be flat with styles on label, hide round buttons */
input[type=radio] {
    display:none; 
    margin:10px;
}
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
}
input[type=radio]:checked + label { 
    background-image: none;
    background-color:#d0d0d0;
}

/* fix margin beside slider thumb */
/*TODO don't bother since using f7 range
#rangeControlledByDate {
    width: 100%;
    margin: 0;
}
*/

/* information */
div.information {
    height: 42vw;
    display: none;
}
div.star {
    background-image: url('star.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40vw;
    min-height: 40vw;
    text-align: center;
    color: white;
    vertical-align: top;
    display: inline-block;
}
h1 {
    margin: 16vw 0 0 0;
    font-size: 4.5vw;
    line-height: 1em;
    text-shadow: 0px 1px black;

}
a:hover {
    text-decoration: underline;
}
div.description {
    width: 49vw;
    display: inline-block;
}
div.description p {
    max-width: 28em;
    font-size: 3vw;
    margin-top: 2.5vw;
}
span.close {
    display: inline-block;
}
span.open {
    display: inline-block;
    float: right;
    line-height: 4vw;
    margin-right: 2.25vw;
}
span.open a {
    color: white;
    text-shadow: 0px 1px black;
}
